.imgsizing {
    width: 200px;
    height: 100px;
}

.alignItems {
    float: right;
}

.navbar {
    position: absolute;
    z-index: 10;
    width: 100%;
    background: transparent !important;
}
.ImgBodyAlignment{
    top: 30%;
    right: 50%;
    text-align: start;
}
.nav-link {
    color: white !important;
    font-weight: bold;
    margin-right: 20px;
}

.ownersection {
    padding: 100px;
}

.navbar-toggler-icon {
    color: white !important;
    font-weight: bold;
}

.HeadOne {
    font-size: 48px;
    font-weight: bold;
}

.HeadTwo {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    color: gray;
}

.scrolloff {
    overflow-x: hidden !important;
}

.HeadThree {
    margin-bottom: 20px;
}

.HeadFour {
    margin-bottom: 20px;
}

.SpecHeadOne {
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 20px;
}

.SpecList {
    color: gray;
    font-size: 20px;

}

.rowmargin {
    margin-top: 80px;
}

.ProjectHeadTwo {
    font-size: 16px;
    color: gray;
}

.paddingCol {
    padding: 60px;
}

.imgcontainer {
    position: relative;
}

.image {
    width: 100%;
    height: auto;
}
.carouseltitle{
    font-size: 24px;
}
.carouselsubtitle{
    font-size: 56px;
}
.btndark{
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    padding: 30px;
    background-color: white;
    border: 3px solid goldenrod;
}

.imgcontainer:hover .overlay {
    opacity: 1;
}

.textDate {
    color: gray;
    font-size: 20px;
    margin-bottom: 30px;
}

.textTitle {
    font-size: 24px;
    font-weight: 700;
    color: black;
    margin-bottom: 50px;
}

.textDescription {
    font-size: 20px;
    color: gray;
    margin-bottom: 50px;
}

.learnmore {
    color: goldenrod;
    font-weight: 700;
}

.learnmoreIcon {
    font-weight: bolder;
    margin-left: 10px;
}

.paddingrow {
    padding: 50px;
}

.removebullets {
    list-style-type: none;
}

.fontfooterstyle {
    font-size: 16px;
    color: black;
    font-weight: 500;
    margin-bottom: 10px;
    cursor: pointer;
}

.fontfooterstyle:hover {
    color: goldenrod;
}

.copyright {
    font-size: 16px;
}

.paddingfooter {
    padding-top: 150px;
    padding-bottom: 150px;
}

@media (max-width: 468px) {
    .copyright {
        margin: 20px;
    }

    .imgcontainer {
        margin-bottom: 20px;
    }

    .mediaquery {
        margin-bottom: 60px;
    }

    .mediaquerytwo {
        padding-left: 30px;
    }

    .mediaquerythree {
        padding: 30px;
        text-align: center;
    }

    .SpecHeadOne {
        margin-top: 30px;
    }

    .ownersection {
        padding: 50px;
    }

    .scrolloff {
        overflow-x: hidden !important;
    }

    .mediaqueryFour {
        padding-left: 0;
    }

    .carousel-item {
        height: 100vh;
    }

    .imgresponsive {
        height: 100%;
        width: 100%;
    }

    .navbar-toggler {
        background-color: white !important;
    }
    .carouselsubtitle{
        font-size: 36px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}